NEXT_PUBLIC_SUPABASE_URL=https://gzwdulfzkrmtpyilunwz.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd6d2R1bGZ6a3JtdHB5aWx1bnd6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE4NjY4MTMsImV4cCI6MjA5NzQ0MjgxM30.BNJQbqnLmOPx4ag5r4pFfTUDS5nCoo-Esd13VFn_AuM
